:root {
    --semi-transparent-bg: rgba(0, 0, 0, 0.754);
    --semi-transparent-bg-lighter: rgba(0, 0, 0, 0.5);
    --white: #fff;
    --red: #e00540;
    --light-gray: #e3e3e3;
    --cyan: #11ebf7;
    --green: #8ff05a;
    --yellow: #e8f25e;
    --pink: #dd0741;
    --dark-red: #e7021a;
    --black: #000;
  }
  