@import 'tenllado-lib/dist/style.css';

@font-face {
  font-family: 'Press Start 2P';
  src: url('./assets/fonts/PressStart2P-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Press Start 2P', sans-serif;

  button {
    font-family: 'Press Start 2P', sans-serif;
  }
}

.app {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  .pokemon-logo {
    height: 10rem;
    min-width: 300px;
  }

  .pokemon-table-container {
    margin-top: 50px;
    width: 100%;
    max-width: 600px;
    overflow-x: auto;
    position: relative;
    border-radius: 5px;
  }
}
